

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a ng-href="#/project/{{ projectId }}/notes/new" class="btn btn-default">
                Criar Nota
            </a>

            <div class="panel panel-default" style="margin-top:10px;">
                <div class="panel-heading">Listagem de Notas do projeto</div>
                <div class="panel-body">


                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Responsável</th>
                            <th>E-mail</th>
                            <th>Ação</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="o in notes">
                            <td>{{ o.note_id }}</td>
                            <td>{{ o.title }}</td>
                            <td>{{ o.note | limitTo: 60 }} [...]</td>
                            <td>
                                <a ng-href="#/project/{{ o.project_id }}/notes/{{ o.note_id }}/edit" title="editar" class="btn btn-sm btn-default">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>

                                <a ng-href="#/project/{{ o.project_id }}/notes/{{ o.note_id }}/remove" title="Excluir" class="btn btn-sm btn-danger">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>