<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Exclusão de projeto</div>
                <div class="panel-body">
                    <div class="alert alert-danger" ng-show="error.error">
                        <strong>Oops!</strong> Algo está errado.<br><br>
                        <div>{{ error.message }}</div>
                    </div>
                    <p>Deseja excluir realmente esse projeto ?</p>
                    <ul>
                        <li><b>Projeto:</b> {{project.name}}</li>
                        <li><b>Cliente:</b> {{project.client.name}}</li>
                        <li><b>Descrição:</b> {{project.description}}</li>
                    </ul>

                    <div class="form-group">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger" ng-click="remove()">
                                Sim! Excluir
                            </button>
                            <a ng-href="#/projects" class="btn btn-default">
                                Desitir
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

