<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a ng-href="#/project/{{ projectId }}/notes/new" class="btn btn-default">
                Criar Nota
            </a>
            <div class="panel panel-default" style="margin-top:10px;">
                <div class="panel-heading">Listagem de arquivos do projeto</div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Link</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in files">
                                <td>{{ o.name }}</td>
                                <td>{{ o.description | limitTo: 25 }} [...]</td>
                                <td><a ng-href="/project/file/{{o.id}}/download" target="_blank" class="btn btn-info"> Download</a></td>
                                <td>
                                    <a ng-href="#/project/{{ o.project_id }}/files/{{ o.id }}/edit" title="Editar" class="btn btn-sm btn-default">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                    <a ng-href="#/project/{{ o.project_id }}/files/{{ o.id }}/remove" title="Excluir" class="btn btn-sm btn-danger">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>